/* Common CSS Styles across site */

:root {
  --stroke-color: #226528;
  --stroke-color--invert: rgba(255, 255, 255, .25);
  --font-title: 'DeadKansasRegular';
  --container-space: 1rem;
}

@media (min-width: 1000px) {
  :root {
    --container-space: 3rem;
  }
}

@font-face {
  font-family: 'DeadKansasRegular';
  src: url('~@/assets/fonts/dead_kansas-webfont.eot');
  src: url('~@/assets/fonts/dead_kansas-webfont.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/dead_kansas-webfont.woff') format('woff'),
  url('~@/assets/fonts/dead_kansas-webfont.ttf') format('truetype'),
  url('~@/assets/fonts/dead_kansas-webfont.svg#DeadKansasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  box-sizing: border-box;
  background: url('~@/assets/images/bg-body.jpg') no-repeat center 0;
  background-size: cover;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/*
-----------------------------------------------------------------------------
Headings
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'DeadKansasRegular';
  font-weight: normal;
  margin-bottom: 1em;
}

h1 {
  color: #000;
}

/*
-----------------------------------------------------------------------------
Links
-----------------------------------------------------------------------------*/
a {
  color: #009;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

/*
-----------------------------------------------------------------------------
Layout
-----------------------------------------------------------------------------*/
.l-container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-shadow: 2px 2px 3px #000;
}

.stroke {
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}

.stroke-white {
  text-shadow:
    -1px -1px 0 var(--stroke-color--invert),
    1px -1px 0 var(--stroke-color--invert),
    -1px 1px 0 var(--stroke-color--invert),
    1px 1px 0 var(--stroke-color--invert);
}
